Flask==2.0.3
Flask-Cors==4.0.0
keras==2.6.0
Keras-Preprocessing==1.1.2
language-tool-python==2.7.3
matplotlib==3.3.4
nltk==3.6.7
numpy==1.19.5
pyspellchecker==0.8.0
pytz==2024.1
pyzmq==24.0.1
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
# tensorflow==2.6.2
# tensorflow-estimator==2.6.0
# tokenizers==0.12.1
# torch==1.10.2
tqdm==4.64.1
transformers==4.18.0