Flask==2.0.3
Flask-Cors==4.0.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.1
jsonschema==3.2.0
keras==2.6.0
Keras-Preprocessing==1.1.2
language-tool-python==2.7.3
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.2
packaging==21.3
pandas==1.1.5
pyparsing==3.1.2
pyrsistent==0.18.0
pyspellchecker==0.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==24.0.1
regex==2023.8.8
requests==2.27.1
requests-oauthlib==2.0.0
scikit-learn==0.24.2
scipy==1.5.4
Send2Trash==1.8.2
six==1.15.0
sklearn==0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
tokenizers==0.12.1
torch==1.10.2
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==4.18.0
typing-extensions==3.7.4.3
urllib3==1.26.18
wrapt==1.12.1